$primary-text-color: #757575;
$primary-title-color: #212121;
$accent-color: #2196f3;
$primary-white-color: #ffffff;
$footer-background-color: #2f303a;
$secondary-white-color: #f5f4fa;
$main-black-color: #000000;
$footer-links-color: rgba (255, 255, 255, 0.6);
$link-background-color: rgba(47, 48, 58, 0.8);
$transition-time-function: cubic-bezier(0.4, 0, 0.2, 1);
